.background {
    background-color: teal !important;
}

.color {
    color: teal !important;
}

label {
    color: teal !important;
}

.flex-1 {
    flex-grow: 1;
}

.all-caps {
    font-variant: all-petite-caps;
}

.back-image {
    background-image: url("./assets/images/budget.jpg");
    background-color: wheat;
}

.text-center {
    text-align: center;
}

.mt-10 {
    margin-top: 10% !important;
}

.wd-90 {
    width: 90%;
}

.wd-95 {
    width: 95%
}

.mt-2 {
    margin-top: 2% !important;
}

.mt-1 {
    margin-top: 1% !important;
}

.pd-4 {
    padding-bottom: 4%;
}

.pd-1 {
    padding-bottom: 1%;
}

.mt-minus-25 {
    margin-top: -25px !important;
}

.mt-minus-2 {
    margin-top: -2% !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.ml-30 {
    margin-left: 30% !important;
}

.form-border {
    border: 2px teal solid !important
}

.form-heading {
    padding: 2%;
    color: white;
    font-size: large;
}

.login-button {
    color: white !important;
    width: 90%;
    margin-bottom: 10px !important;
}

.form-error {
    margin-left: 5%;
    font-size: smaller;
    color: red;
}

.form-option {
    font-style: italic;
    font-variant: all-petite-caps;
}

.form-option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form-label {
    padding-left: 5% !important;
    margin-top: 2%;
    font-size: small !important;
}

.form-dropdown {
    margin-left: 5%;
    width: 90%;
}

.reset-button {
    margin-left: 5% !important;
    width: 40%;
    color: teal !important;
    margin-bottom: 10px !important;
}

.register-button {
    margin-left: 10% !important;
    width: 40%;
    color: white !important;
    margin-bottom: 10px !important;
}

.MuiDrawer-paper {
    width: 20% !important;
}

.drawer-menu {
    position: absolute;
    bottom: 10px;
}

.drawer-menu-item:hover {
    color: teal;
    cursor: pointer;
}

a {
    color: black;
    text-decoration-line: none;
}

.MuiListItem-root {
    font-style: italic;
}

.total-budget {
    background-image: url('./assets/images/back.png');
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 2%;
    min-height: 200px;
}

.budget-title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    margin-left: 15%;
}

.budget-value {
    font-weight: 300;
    font-size: xx-large;
    color: white;
    float: right;
    margin-right: 20%;
}

.budget-income-text {
    color: #b3ffb3 !important;
    font-style: italic !important;
}

.budget-expense-text {
    color: #ffb3b3 !important;
    font-style: italic !important;
}

.loading-div {
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    min-height: 100px;
}

.loader-div {
    margin-left: 45%;
    margin-right: 45%;
    padding-top: 4%
}

.error-div {
    padding-top: 5%;
    margin-left: 25%;
    color: red;
}

.MuiAppBar-colorPrimary {
    background-color: teal !important;
}

.right-align {
    text-align: right;
}

.add-new-item {
    margin-right: 10px !important;
    border: 2px teal solid !important;
    color: teal !important;
    background-color: white !important;
}

.save-item-button {
    background-color: teal !important;
    width: 150px !important;
    color: white !important;
}

.save-item-button:hover {
    border: 2px teal solid !important;
    color: teal !important;
    background-color: white !important;
}

.delete-item {
    text-align: right;
    width: 90%;
    margin-top: 40px;
}

.dialog-success-button {
    background-color: #b3ffb3;
    color: black;
    border: white solid 1px;
    font-style: italic;
}

.dialog-error-button {
    background-color: #ffb3b3;
    color: black;
    border: white solid 1px;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.success-background-color {
    background-color: #b3ffb3;
}

.error-background-color {
    background-color: #ffb3b3;
}